doctype html
html(lang='eng')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar
      .navbar 
        .logo 
          if currentUser 
            a(href='/messages') Stonecutters
            a(href='/members') Members
          else
            a(href='/') Stonecutters 

        .user 
          if currentUser
            .welcome Welcome #[a(href=currentUser.url) #{currentUser.username}]!
            a(href='/members/log-out') Log Out
          else
            a(href='/members/log-in') Log In 
            a(href='/members/secret') Sign Up

          
    .main
      block content
