doctype html
html(lang='eng')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar
      .navbar 
        .navLinks
          if currentUser 
            a.animate(href='/messages'): img.logo(src='../images/stonecutters.png' alt='The Stonecutters') 
            a(href='/members') Members
            a(href='/members/creed') Creed
          else
            a.animate(href='/stonecutters'): img.logo(src='../images/stonecutters.png' alt='The Stonecutters') 

        .user 
          if currentUser
            .welcome Welcome #[a(href=currentUser.url) #{currentUser.username}]!
            a(href='/members/log-out').btn Log Out
          else
            a(href='/members/log-in').btn Log In 
            a(href='/members/sign-up').btn Sign Up

          
    .main
      block content
