extends layout 

block content 

    h1= title

    if newMember 
        p Sign up successfull. Please log in.

    form(action='' method='POST')
        .form-control
            label(for='username') Username:
            input(name='username' type='text')
        .form-control
            label(for='password') Password:
            input(name='password' type='password')
        button(type='submit').submit Log In