extends layout 

block content 

    if currentUser

        h1 Recent Messages

        a(href='/messages/create') New Message

        if messages
            .messages
                each message in messages 
                    .message 
                        .text #{message.text}
                        hr
                        .info
                            .sender Posted by #[a(href=message.sender.url) #{message.sender.username}]
                            .time #{message.timestamp_formatted}

        else 
            p There are no messages yet.

    else 

        h1 Outcast 
        p Only members can view this page