extends layout 

block content 

    h1= title 

    p Only members of The Stonecutters are permitted to access this site. To become a member, you must be the descendent of a member or save the life of a member.
    
    p Alternatively, if you are able to solve the following riddle, you will be deemed worthy.

    p #[i Who controls the British Crown? Who keeps the metric system down? <br> Who keeps Atlantis off the maps? Who keeps the Martians under wraps? <br> Who holds back the electric car? Who makes Steve Guttenberg a star? <br> Who robs cavefish of their sight? Who rigs every Oscar night?]

    form(action='/members/secret' method='POST').riddleAnswer
        label(for='answer') Answer: 
        input(type='password' name='answer')
        button(type='submit') Submit

    if errors 
        ul.errors 
            each error in errors 
                li= error.msg