body {
  margin: 0;
}

a {
  color: #00B7FF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border: 1px solid black;
}

.user {
  display: flex;
  gap: 20px;
}

.main {
  padding: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.message {
  width: 320px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}