body {
  margin: 0;
  background-color: #96321e;
  color: #cdab20; 
}

#953421
#973465
#cdab20
#ec0a0b
#444488

a {
  color: #00B7FF;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-bottom: 5px solid #cdab20;
}

.user {
  display: flex;
  gap: 20px;
}

.main {
  padding: 20px;
}

form, .form-control {
  display: flex;
  flex-direction: column;
}

form {
  gap: 10px;
  width: 320px;
}

.submit {
  align-self: flex-start;
}

.riddleAnswer {
  flex-direction: row;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.message {
  width: 320px;
  border: 1px solid #ec0a0b;
  background-color: #444488;
  border-radius: 10px;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}